@font-face {
    font-family: 'DSEG7ModernMini-Bold-Custom';
    src: url("https://cdn.jsdelivr.net/gh/rubel046/test-font@main/DSEG7ModernMini-Bold.ttf");
}

.font-DSEG7ModernMini-Bold-Custom {
    font-family: 'DSEG7ModernMini-Bold-Custom', sans-serif;
}